<section class="container">
    <div class="page-header">
      <h1>All Creators</h1>
    </div>
    <div *ngIf="crtrs ? crtrs.length<2 : ![]"><h2 class="text-center">!No Data Available</h2></div>
    <div class="row">
      <ul>
        <li class="col-md-4" *ngFor="let cr of crtrs">
          <div class="thumbnail pull-left clearfix">
            <img class="img-responsive" [src]="cr.thumbnail.path + '/portrait_xlarge.jpg'" [alt]="cr.fullName">
            <div class="caption">
              <h3>{{cr.fullName}}</h3>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  